@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.boxheader {
  background-color: var(--white);
  width: 100%;
  height: 150px;
  padding: 29px;
  display: flex;
  justify-content: center;
}

.logo{
    width: 240px;
    height: 40px;
    top: 47px;
    left: 112px;
}

.configContainer {
  width: 90vw;
}

.inputPesquisa {
  max-width: 603.72px;
  min-width: 603.72px;
  top: 36.72px;
  left: 414.72px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  opacity: 0.04px;
  background-color:var(--personInput);
  background-image: url("/IconePes.svg");
  background-size: 20px 20px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}

.estilobotton {
  width: 123px;
  height: 39px;
  top: 47.52px;
  left: 1212.84px;
  border-radius: 8px;
  border: none;
  gap: 0px;
  background-color: var(--primary);
  color: var(--white);
}

.iconCar {
  width: 18.5px;
  height: 18.1px;
  top: 3.25px;
  left: 2.75px;
  gap: 0px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
}

.configCar{
    position: relative;
}

.iconCarrinho{
    width: 16px;
    height: 16px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px; 
    right: -10px; 
}

nav a{
  text-decoration: none;
  color: var(--dark-gray-3);
  margin-right: 15px;
}

 nav a:hover{
  color: var(--primary);
 }

.active{
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: var(--primary);
  color: var(--primary);
}
