@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.boxheader {
  background-color: var(--white);
  width: 100dvw;
  height: 150px;
  padding: 29px;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  position: relative;
  margin: auto 0;

  width: 13vw;
  min-width: 100px;

  @media (max-width: 800px) {
    width: 30vw;
  }
}
a:has(.logo) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.configContainer {
  width: 90vw;
}

.inputPesquisa {
  flex: 1;
  align-self: center;
  min-width: 300px;
  max-height: 50px;
  min-height: 50px;
  height: 5dvh;

  top: 36.72px;
  left: 414.72px;

  padding: 8px;
  margin: 0px 8px;
  border-radius: 8px;
  border: none;
  opacity: 0.04px;
  background-color: var(--personInput);
  background-image: url("/IconePes.svg");
  background-size: 20px 20px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  @media (max-width: 800px) {
    display: none;
  }
}
.inputPesquisa::placeholder {
  color: var(--dark-gray-3);
  padding: 10px;
  font-size: 12px;
}
a.link-cadastro {
  display: flex;
  align-items: center;

  @media (max-width: 800px) {
    display: none !important;
  }
}
.estilobotton {
  width: 123px;
  height: 40px;

  border-radius: 8px;
  border: none;

  gap: 0px;

  background-color: var(--primary);
  color: var(--white);
  @media (max-width: 800px) {
    display: none;
  }
}

.iconCar {
  width: 18.5px;
  height: 18.1px;
  top: 3.25px;
  left: 2.75px;
  gap: 0px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
}

.configCar {
  position: relative;
}

.iconCarrinho {
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -10px;
}

nav a {
  text-decoration: none;
  color: var(--dark-gray-3);
  margin-right: 15px;
}

nav a:hover {
  color: var(--primary);
}

.active {
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: var(--primary);
  color: var(--primary);
}
